<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Andrew Monshizadeh</string>
	<key>Builder Version</key>
	<string>10600.1.25</string>
	<key>CFBundleDisplayName</key>
	<string>SalesforceLogins</string>
	<key>CFBundleIdentifier</key>
	<string>com.amonshiz.SalesforceLogins</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>5242880</real>
		<key>Global Page</key>
		<string>Global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>LoginsList.html</string>
				<key>Height</key>
				<real>400</real>
				<key>Identifier</key>
				<string>LoginsList</string>
				<key>Width</key>
				<real>300</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>salesforce-logins-button</string>
				<key>Image</key>
				<string>salesforce-logo.png</string>
				<key>Label</key>
				<string>Logins</string>
				<key>Popover</key>
				<string>LoginsList</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Easy access to Salesforce logins</string>
	<key>DeveloperIdentifier</key>
	<string>BDKG93339Q</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict/>
	</dict>
</dict>
</plist>
